/* Navigation.css */
  .navbar {
    color: antiquewhite;
    font-size: larger;
    font-family: cursive;
    background-color:grey;
    overflow: hidden;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

  .navbar li {
    float: left;
}
/*Navbar a class css*/
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/*Navbar hover and color and font*/
  .navbar a:hover {
    background-color:darkmagenta;
    color:yellow;
    font-size: xx-large;
  }
  